# deps
node_modules/

# expo / cache / build
.expo/
.expo-shared/
.parcel-cache/
.turbo/
dist/
build/
web-build/
*.log

# env & secrets
.env
.env.*
!.env.example
*.jks
*.keystore
*.keystore.properties

# platform native (ignora se resti "managed")
android/
ios/
